In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
df=pd.read_csv('Melbourne_housing_FULL.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [29]:
df.shape

(34857, 21)

In [30]:
df.drop([ 'Address','Date', 'Postcode', 'YearBuilt', 'Lattitude','Longtitude'],axis=1,inplace=True)

In [31]:
df.columns

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Distance',
       'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
       'CouncilArea', 'Regionname', 'Propertycount'],
      dtype='object')

In [32]:
df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0

In [33]:
df.dtypes

Suburb            object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Distance         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
CouncilArea       object
Regionname        object
Propertycount    float64
dtype: object

In [34]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [35]:
# df['Bedroom2'].unique()
# df['Bathroom'].unique()
# df['Car'].unique()
# df['Landsize'].unique()
# df['BuildingArea'].unique
# df['Propertycount'].unique()
# df['Distance'].unique()
# df['CouncilArea'].unique()
# df['Regionname'].unique()
# df['Price'].unique()

In [36]:
df['Bedroom2']=df['Bedroom2'].fillna(df['Bedroom2'].mean()).astype(int)
df['Landsize']=df['Landsize'].fillna(df['Landsize'].mean()).astype(int)
df['Bathroom']=df['Bathroom'].fillna(df['Bathroom'].mean()).astype(int)
df['Car']=df['Car'].fillna(df['Car'].mean()).astype(int)
df['BuildingArea']=df['BuildingArea'].fillna(df['BuildingArea'].mean()).astype(int)
df['Propertycount']=df['Propertycount'].fillna(df['Propertycount'].mean()).astype(int)
df['Distance']=df['Distance'].fillna(df['Distance'].mean()).round(2)
df['CouncilArea']=df['CouncilArea'].fillna(df['CouncilArea'].mode()[0])
df['Regionname']=df['Regionname'].fillna(df['Regionname'].mode()[0])
df['Price']=df['Price'].fillna(df['Price'].median()).round(2)

In [37]:
df.isna().sum()

Suburb           0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      0
Regionname       0
Propertycount    0
dtype: int64

In [38]:
df.dtypes

Suburb            object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Distance         float64
Bedroom2           int32
Bathroom           int32
Car                int32
Landsize           int32
BuildingArea       int32
CouncilArea       object
Regionname        object
Propertycount      int32
dtype: object

In [39]:
df=pd.get_dummies(df,drop_first=True,dtype=int)
df

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
0,2,870000.0,2.5,2,1,1,126,160,4019,0,...,0,1,0,0,1,0,0,0,0,0
1,2,1480000.0,2.5,2,1,1,202,160,4019,0,...,0,1,0,0,1,0,0,0,0,0
2,2,1035000.0,2.5,2,1,0,156,79,4019,0,...,0,1,0,0,1,0,0,0,0,0
3,3,870000.0,2.5,3,2,1,0,160,4019,0,...,0,1,0,0,1,0,0,0,0,0
4,3,1465000.0,2.5,3,2,0,134,150,4019,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,1480000.0,6.3,4,1,3,593,160,6543,0,...,0,0,0,0,0,0,0,0,1,0
34853,2,888000.0,6.3,2,2,1,98,104,6543,0,...,0,0,0,0,0,0,0,0,1,0
34854,2,705000.0,6.3,2,1,2,220,120,6543,0,...,0,0,0,0,0,0,0,0,1,0
34855,3,1140000.0,6.3,3,1,1,593,160,6543,0,...,0,0,0,0,0,0,0,0,1,0
34856,2,1020000.0,6.3,2,1,0,250,103,6543,0,...,0,0,0,0,0,0,0,0,1,0

In [40]:
df.dtypes

Rooms                                      int64
Price                                    float64
Distance                                 float64
Bedroom2                                   int32
Bathroom                                   int32
                                          ...
Regionname_Northern Victoria               int32
Regionname_South-Eastern Metropolitan      int32
Regionname_Southern Metropolitan           int32
Regionname_Western Metropolitan            int32
Regionname_Western Victoria                int32
Length: 795, dtype: object

In [41]:
df.describe()

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
count,34857.000000,3.485700e+04,34857.000000,34857.000000,34857.000000,34857.000000,34857.000000,34857.000000,34857.000000,34857.000000,...,34857.000000,34857.000000,34857.000000,34857.000000,34857.000000,34857.000000,34857.00000,34857.000000,34857.000000,34857.000000
mean,3.031012,1.010838e+06,11.184929,3.064693,1.477350,1.546347,593.396047,160.098201,7572.888229,0.002295,...,0.017902,0.034025,0.002926,0.006541,0.274177,0.005824,0.04989,0.339645,0.195054,0.003299
std,0.969933,5.719992e+05,6.788795,0.858090,0.686361,0.930346,2763.694136,251.944042,4427.899750,0.047853,...,0.132596,0.181295,0.054016,0.080613,0.446105,0.076092,0.21772,0.473595,0.396248,0.057345
min,1.000000,8.500000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,83.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,2.000000,6.950000e+05,6.400000,3.000000,1.000000,1.000000,357.000000,160.000000,4385.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,3.000000,8.700000e+05,10.300000,3.000000,1.000000,1.000000,593.000000,160.000000,6763.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,4.000000,1.150000e+06,14.000000,3.000000,2.000000,2.000000,598.000000,160.000000,10412.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,1.000000,0.000000,0.000000
max,16.000000,1.120000e+07,48.100000,30.000000,12.000000,26.000000,433014.000000,44515.000000,21650.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000

In [42]:
x=df.drop(['Price'],axis=1)
y=df['Price']

In [43]:
x

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
0,2,2.5,2,1,1,126,160,4019,0,0,...,0,1,0,0,1,0,0,0,0,0
1,2,2.5,2,1,1,202,160,4019,0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,2.5,2,1,0,156,79,4019,0,0,...,0,1,0,0,1,0,0,0,0,0
3,3,2.5,3,2,1,0,160,4019,0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,2.5,3,2,0,134,150,4019,0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,6.3,4,1,3,593,160,6543,0,0,...,0,0,0,0,0,0,0,0,1,0
34853,2,6.3,2,2,1,98,104,6543,0,0,...,0,0,0,0,0,0,0,0,1,0
34854,2,6.3,2,1,2,220,120,6543,0,0,...,0,0,0,0,0,0,0,0,1,0
34855,3,6.3,3,1,1,593,160,6543,0,0,...,0,0,0,0,0,0,0,0,1,0
34856,2,6.3,2,1,0,250,103,6543,0,0,...,0,0,0,0,0,0,0,0,1,0

In [44]:
y

0         870000.0
1        1480000.0
2        1035000.0
3         870000.0
4        1465000.0
           ...
34852    1480000.0
34853     888000.0
34854     705000.0
34855    1140000.0
34856    1020000.0
Name: Price, Length: 34857, dtype: float64

In [45]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [46]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [47]:
from sklearn.linear_model import LinearRegression
lr_model=LinearRegression()
lr_model.fit(x_train,y_train)
lr_model.score(x_train,y_train)*100

46.465126554909084

In [48]:
lr_model.score(x_test,y_test)*100

-5.942800440417615e+22

In [49]:
from sklearn.linear_model import Lasso
lasso_model=Lasso(alpha=50,max_iter=100,tol=0.1)
lasso_model.fit(x_train,y_train)
lasso_model.score(x_train,y_train)

0.45872852453088264

In [50]:
lasso_model.score(x_test,y_test)

0.44649299931960595

In [51]:
from sklearn.linear_model import Ridge
ridge_model=Ridge(alpha=50,max_iter=100,tol=0.1)
ridge_model.fit(x_train,y_train)
ridge_model.score(x_train,y_train)

0.4428732196990264

In [52]:
ridge_model.score(x_test,y_test)

0.44267057831080747